
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #161617;
}

.container {
    background: linear-gradient(135deg, rgba(65, 4, 85, 0.805), rgb(159, 94, 194));
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 350px;
    
}

h2 {
    margin-top: 0;
    text-align: center;
    color:white;
}

.result-box {
    background: #e4bdea;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px dashed #cbd5e0;
    min-height: 24px;
    }

#password-display {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    word-break: break-all;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color:white;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 18px;
    height: 18px;
    accent-color: #3b054e; 
}

.btn-generate {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #3b054e;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-generate:hover {
    background: #0056b3;
}
